.social-profile {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff; /* White background */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: url('https://scontent.fhan20-1.fna.fbcdn.net/v/t39.30808-6/449075799_1900100357124625_3198531066683787621_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=86c6b0&_nc_eui2=AeFmv36O0XGZ4ni-Erv-yyBx4mAQ-Zz14jriYBD5nPXiOh24hZNkUI8zOIeZB5H99U78rmytCp6GQmYHL5sVlL22&_nc_ohc=5qHt_2T3fHwQ7kNvgFll8y0&_nc_oc=AdiUnvfvZ3cM7BZgpenRKPdIuFYcsugNXes_QTg4rRMrJfZzxTlaCuVxVau5Nwq3YdItBvLQFn9LmrruQ4u3N4bw&_nc_zt=23&_nc_ht=scontent.fhan20-1.fna&_nc_gid=Ab9jTveUm9VC1dSbgwq2ny7&oh=00_AYD5bzWWWPWvmJQQyeGvAM5mFxzqyeIVySeQTskdyQE8ow&oe=67C7C686') no-repeat center center;
    background-size: cover;
    border-radius: 10px 10px 0 0;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 120px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

h1 {
    color: #333;
    font-size: 1.8em;
    margin: 10px 0;
}

p {
    color: #555;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.contact-info {
    margin-bottom: 20px;
}

.contact-info a {
    color: #61dafb;
    text-decoration: none;
    transition: color 0.3s;
}

.contact-info a:hover {
    color: #21a1f1;
}

.social-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.social-icon {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
}

.social-icon:hover {
    transform: scale(1.1);
}
