.wrapper {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  gap: 10px;
  max-height: 500px;
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;

    max-height: unset;
    & > div {
      width: 100%;
    }
  }
}
@media (max-width: 480px) {
  .wrapper {
    flex-direction: column;
  }
}
