@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    font-family: Inter;
    padding: 0;
    margin: 0;
}

body{
  background-color: rgb(31, 31, 31);
}

html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}
html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(93, 93, 93, 0.468);
}
html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(93, 93, 93, 0.08);
}