.navbar {
  position: fixed;
  top: 50%;
  left: 0;
  //   background-color: #1f1f1f; /* Dark background */
  padding: 1rem;
  //   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add subtle shadow */
  font-family: "Roboto", sans-serif; /* Modern font */
  box-sizing: border-box;
  // transform: translateY(-50%);
  transform: translate(-100%, -50%);
  //   background-color: #ececec; /* Dark background */
  z-index: 9;
}
.navbar.show {
  animation: slideInLeft 0.5s ease-in-out forwards;
}

.navbar.hide {
  animation: slideOutLeft 0.5s ease-in-out forwards;
}

.navbar-container {
  display: flex;
  justify-content: center;
}

.navbar-menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-item + .navbar-item {
  margin-top: 18px;
}

.navbar-item-text {
  margin-left: 8px;
}

.navbar-link {
  display: flex;
  align-items: center;
  color: #61dafb; /* React color */
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  position: relative;
  transition: color 0.3s, transform 0.3s;

  img {
    height: 38px;
    width: 38px;
    border-radius: 50%;
  }
}

.navbar-link::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #61dafb;
  transition: width 0.3s;
  position: absolute;
  left: 0;
  bottom: -5px;
}

.navbar-link:hover::after {
  width: 100%;
}

.navbar-link.active {
  color: #21a1f1;
}

.navbar-link:hover {
  color: #21a1f1;
  transform: scale(1.1);
}

@keyframes slideInLeft {
  from {
    transform: translate(-100%, -50%);
  }
  to {
    transform: translate(0, -50%);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translate(0, -50%);
  }
  to {
    transform: translate(-100%, -50%);
  }
}
