.navbar {
  width: 100%;
  min-height: 50px;
  border-radius: var(--border-radius-px);
  background-color: var(--bgr-color);
  overflow:hidden;
}

// .navbar:not(.fixed).bound.hide{
//   transform: scale(1.03);
// }

.navbar {
  display: flex;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: 99;
}
.navbar-container {
  background-color: var(--bgr-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.44); /* Subtle shadow */
  z-index: 99;
}

.navbar-container.pin {
  position: fixed;
  top: 0%;
  left: 0;
}

.navbar-container.pin.hide {
  animation: slideOutTop 0.2s ease-in-out forwards;
}
.navbar-container.pin.show {
  animation: slideInTop 0.2s ease-in-out forwards;
}

.navbar-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar-item + .navbar-item {
  margin-top: 0;
}
.navbar-link {
  img {
    display: none;
  }
}

.navbar-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.navbar-menu {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding: 6px;
}

.navbar-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 14px;
}

.navbar-item-text {
  // margin-left: 8px;
}

.navbar-link {
  display: flex;
  align-items: center;
  color: #296272; /* React color */
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 500;
  position: relative;
  transition: color 0.3s, transform 0.3s;

  img {
    height: 38px;
    width: 38px;
    border-radius: 50%;
  }
}

.navbar-link::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #61dafb;
  transition: width 0.3s;
  position: absolute;
  left: 0;
  bottom: -5px;
}

.navbar-link:hover::after {
  width: 100%;
}

.navbar-link.active {
  color: #21a1f1;
}

.navbar-link:hover {
  color: #21a1f1;
  transform: scale(1.1);
}

@keyframes slideInLeft {
  from {
    transform: translate(-100%, -50%);
  }
  to {
    transform: translate(0, -50%);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translate(0, -50%);
  }
  to {
    transform: translate(-100%, -50%);
  }
}

@keyframes slideInTop {
  from {
    transform: translate(0%, -100%);
  }
  to {
    transform: translate(0%, 0);
  }
}

@keyframes slideOutTop {
  from {
    transform: translate(0%, 0);
  }
  to {
    transform: translate(0%, -100%);
  }
}

// @media (max-width: 768px) {
// .navbar {
//   top: 0%;
//   left: 0;
//   width: 100vw;
//   transform: translate(0%, -100%);
//   background-color: #21a1f1;
//   border-bottom-left-radius: 8px;
//   border-bottom-right-radius: 8px;
// }

// .navbar-menu {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
// }
// .navbar-item + .navbar-item {
//   margin-top: 0;
// }
// .navbar-link {
//   img {
//     display: none;
//   }
// }

// .navbar.show {
//   animation: slideInTop 0.5s ease-in-out forwards;
// }

// .navbar.hide {
//   animation: slideOutTop 0.5s ease-in-out forwards;
// }
// }
