.post-container {
  display: flex;
  flex-direction: column;
  background-color: var(--content-bg-color);
  padding: 40px 0;
  border-radius: var(--border-radius-px);
}

.title {
  color: #988a8a95;
}
.post-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 21px;
  // overflow-x: scroll;
  border-radius: var(--border-radius-px);
  padding: 10px 10px;

  &.col {
    flex-wrap: wrap;

    // & > a {
    //   width: calc(100% / 2 - 20px);
    // }
  }
}

a {
  text-decoration: none;
}

.post {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 3 - 14px);
  background-color: var(--card-bg-color); /* White background for posts */
  border: 1px solid #ddd; /* Light border */
  padding: 20px;
  // margin-bottom: 20px;
  border-radius: var(--border-radius-px); /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: transform 0.3s, box-shadow 0.3s;
  z-index: 4;
  max-height: calc(100vh - var(--nav-height));
}

.controller {
  // position: absolute;
  // top: 0;
  // right: 0;
  display: flex;
  gap: 10px;
  align-self: flex-end;
}

.post:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.post-title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.4rem;
  margin-top: 12px;
}

.post-title,
.post-content {
  text-align: left;
  width: 100%;
  // white-space: nowrap;
  // overflow: hidden;
  // text-overflow: ellipsis;
  color: var(--text-color);
}

.post-content {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.8rem;
  margin-top: 4px;
}

.post-meta {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  // margin: 0 0 10px;
  color: var(--text-color);
  line-height: 1.6;
  // padding: 0 8px;
  margin-top: 12px;

  & em {
    display: flex;
  }
}

.post-meta-box {
  display: flex;
}

.post-meta {
  font-size: 16px;
  .icon {
    margin-right: 2px;
  }
  .text {
  }
  .comment {
    margin-left: 8px;
  }
}

.post-image-wrapper {
  aspect-ratio: 1 / 1;
  width: 100%;
  box-shadow: 0 4px 6px #ffffff3b;
}
.post img {
  max-width: 100%;
  height: auto;
  max-height: 500px;
  border-radius: var(--border-radius-px); /* Rounded corners for images */
}

.comment-section {
  margin-top: 15px;
}

.comment-list {
  margin-bottom: 10px;
}

.comment-box {
  display: flex;
  align-items: center;
  border-top: 1px solid #ddd;
  & + .comment-box {
    margin-left: 8px;
  }
}

.comment-box p {
  color: #555;
}

.comment em {
  color: #777;
  font-size: 0.8em;
}

.comment input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
}

.comment-btn {
  margin-top: 5px;
  background-color: #61dafb;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.comment button:hover {
  background-color: #21a1f1;
  transform: scale(1.05);
}

.post-more {
  display: flex;
  align-self: flex-end;
  font-size: 1.2rem;

  & span {
    margin: 0 4px;
  }
}

@media (max-width: 800px) {
  .post-list {
    gap: 10px;
  }
  .post {
    width: calc(50% - 5px);
  }
  .post-meta {
    padding: 0 8px;
  }
  .post-more {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .post {
    width: 100%;
  }
  .post-meta {
    padding: 0 8px;
  }
  .post-more {
    font-size: 1rem;
  }
}
