
.wrapper{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.create-post-btn {
    background-color: #1877f2;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  .create-post-btn:hover {
    background-color: #145dbf;
  }
  